// Colors ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

// http://codepen.io/andiio/pen/ByNNyN

// Global /////////////////////////////////////////////////////////////////////////

$colorWhite:         #ffffff;
$colorBlack:         #000000;

// Gray's //////////////////////////////////////////////////////////////////////////

$colorSuperLightGray:  #e5e5e5; // This is a color need for the main background Designer color correction:)
$colorLineGray:        #cdcdcd; // Gray

$colorLightestGray:    #f7f7f7; // Site-list | Inputs
$colorLighterGray:     #eaeaea; // Borders
$colorLightGray:       #d9d9d9;
$colorGray:            #d2d2d2; 
$colorMidGray:         #a6a6a6; 
$colorDarkGray:        #949494;
$colorDarkerGray:      #666666;
$colorDarkestGray:     #48484a; 

// Color //////////////////////////////////////////////////////////////////////////

$colorTextLight:     #808285;
$colorTextDark:      #414042;

$colorInfo:            #3187a3; // Notification Info
$colorSuccess:         #7aa300; // Notification Success
$colorWarn:            #e6ae09; // Notification Warn
$colorError:           #b5223b; // Notification Error

$colorRed:             #c2253f; // Remove site
$colorLightBlue:       #54b6da; // Multi Button
$colorBlue:            #366fa5; // Info text

// Elements //////////////////////////////////////////////////////////////////////////

$colorIcons:           $colorLightGray;
 
$colorPopoverBackground:         rgba(0, 0, 0, .8);
$colorPopoverBackgroundHovered:  rgba(140, 140, 140, .8);
$colorPopoverBackgroundEvenItem: rgba(255, 255, 255, .1);
$colorPopoverBackgroundSelected: rgba(76, 76, 76, .8);

$colorBoxShadow: rgba(128, 128, 128, .2);

$colorLine:         $colorLightGray;

// Colors Section

$color-3D3522:      #3D3522;
$color-4A442D:      #4A442D;
$color-386150:      #386150;
$color-58B09C:      #58B09C;
$color-CAF7E2:      #CAF7E2;
$color-4C934C:      #4C934C;
$color-53A548:      #53A548;
$color-91CB3E:      #91CB3E;
$color-EEE82C:      #EEE82C;
$color-19381F:      #19381F;


.color_3D3522 {background-color: $color_3D3522;}

.color_4A442D {background-color: $color_4A442D;}

.color_386150 {background-color: $color_386150;}

.color_58B09C {background-color: $color_58B09C;}

.color_CAF7E2 {background-color: $color_CAF7E2;}

.color_4C934C {background-color: $color_4C934C;}

.color_53A548 {background-color: $color_53A548;}

.color_91CB3E {background-color: $color_91CB3E;}

.color_EEE82C {background-color: $color_EEE82C;}

.color_19381F {background-color: $color_19381F;}


// SIZE ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

$size2:  2px;
$size9: 9px;
$size12: 12px;
$size14: 14px;
$size16: 16px;


$sizeMargin:           $size16;
$sizeBorderRadius:     $size2;


// Typo ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

$sizeFontLarge:        $size16; // Site List heading
$sizeFontMedium:       $size14; // Settings input
$sizeFontSmall:        $size12; // URL/Folder typo
$sizeFontTiny:         $size9; // only for iframe demo



// Font weights ///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

// Legend: https://www.google.com/fonts/specimen/Source+Sans+Pro

$fontLight:            300;
$fontRegular:          400;
$fontBold:             600;
$fontExtraBold:        700;

// Vendor

@import 'vendor/_normalize';
@import 'vendor/_jquery-ui';
@import 'vendor/_lightbox';

@import '_grid'; // Bootstrap
@import '_mixin';
@import '_source-code-pro';

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

nav {
  background-color: $colorWhite;
  border-bottom: 2px solid $colorBlack;
}

.brand {
  width: 101px;
  height: 39px;
  display: block;
  margin: 15px;
  background-image: url(../img/ghostlab_t2_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

// SVG fallback
// http://css-tricks.com/svg-fallbacks/#the-fallbacks

.no-svg .brand {
  background-image: url(../img/ghostlab_t2_logo.png) no-repeat;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


.scroll-icon {
  width: 34px;
  height: 77px;
  display: block;
}

/* Gradient transparent - color - transparent */
    
hr{
    border: 0;
    height: 1px;
    margin: 60px 0;
    background-color: $colorLine;
}

// HELPERS /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.align-center {
  text-align: center;
}

.padding-margin-reset {
  margin: 0;
  padding: 0;
}

.lead {
  font-size: 27px;
  color: $colorGray;
  margin-bottom: 2em;
  float: none;
  clear: both;
  @media (max-width: 200px) {
    font-size: 18px;
  }
}



// Global //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.container h2 {
  @extend .align-center;
  @include font-size(4);
  font-weight: 300;
  margin-bottom: 0.2em;
  @media (max-width: 200px) {
    @include font-size(2);
  }
}

.section-subheading {
  border-bottom: 1px solid $colorLine;
  margin: 52px 15px;
  font-size: $sizeFontLarge;

  span {
    display: inline-block;
    width: 50%;
  }

  span:last-child {
    text-align: right;
    color: $colorMidGray;
  }
}

.notification {
  padding: 16px;
  color: $colorWhite;
  font-size: $sizeFontMedium;
  font-weight: $fontExtraBold;
  text-align: center;

  b {
    font-size: $sizeFontLarge;
  }
}

.notification-info { background-color: $colorInfo; }
.notification-success { background-color: $colorSuccess; }
.notification-warning {  background-color: $colorWarn; }
.notification-error {  background-color: $colorError; }


footer {
  border-top:1px solid $colorLine;
  margin-top: 80px;
}


.ghostlabapp-twitter {
  color: $colorLightBlue;
  font-size: 2.5em;
  display: block;
  margin: 30px 0;
  transition: all 1s ease;
}

.copyright {
  font-size: $sizeFontSmall;
  color: $colorLightGray;
  padding: 10px;
}

// Buttons ----------------------------------------------------------------------

$btnLargeSize: 50px;
$gl-btn-color: $colorLighterGray;

.btn-gl {
  box-shadow: inset 0 1px 0 0 #f3f3f3; // Designer custom color
  background: linear-gradient(to bottom, $colorLighterGray 5%, $colorLightGray 100%);
  background-color: $gl-btn-color;
  border-radius: $sizeBorderRadius + 1;
  border: 1px solid #b3b3b3 !important; // Designer custom color
  display: inline-block;
  font-size: $sizeFontMedium;
  font-weight: $fontRegular;
  padding: 0 12px;
  min-height: 25px;
  line-height: 25px;
  text-decoration: none !important;
  text-align: center;
  text-shadow: 1px 1px 0 #e7e7e7; // Designer custom color
  margin: 1em 0;
}

.btn-gl:hover {
  background-color: $colorLighterGray;
}

.btn-gl:active {
  position: relative;
  top: 1px;
  background: linear-gradient(to bottom, $colorLightGray 5%, $colorLighterGray 100%);
}

.btn-large {
  width: 100%;
  font-size: $sizeFontLarge;
  height: $btnLargeSize;
  line-height: $btnLargeSize;
}


// SCROLL //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.section-scrolling {
  height: 180em;
}

#sticker {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.px {

  .pixelNumber {
    @include font-size(10);
    font-weight: 700;
    @media (max-width: 550px) {
      @include font-size(5);
    }
  }

  span {
    @include font-size(4);
  }
}

.scroll-icon {
  margin: 82px auto;
  margin: 8.2rem auto;
}

.stick {
  position:fixed;
  top:0px;
  left: 50%;
  margin-top: 0;
  margin-left: -200px;
}


#arrow {
  -webkit-animation: slidedown 3s infinite;
  animation: slidedown 3s infinite;
}


@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 9px);
    transform: translate(0, 9px);
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -ms-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -ms-transform: translate(0, 9px);
    -webkit-transform: translate(0, 9px);
    transform: translate(0, 9px);
  }
}


// FORM ////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 8px 0;
  margin-top: 1px \9;
  line-height: normal;
}

.form-group {
  margin-top: 4rem;
}

.input-style {
  position: relative;
  color: $colorBlack;
  font-size: $sizeFontMedium;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border: 1px solid $colorLightGray;
  background-color: $colorLightestGray;
  border-radius: 0;
  padding: 2px 6px;
  height: 42px;
  height: 4.2rem;
  border-radius: 4px;
}

.input-style:disabled,
.input-style-disabled {
  color: $colorGray;
}

.input-title {
  font-size: $sizeFontSmall;
  color: $colorDarkestGray;
  font-weight: $fontRegular;
}


[type=text], [type=email] {
  @extend .input-style;
}

[type=password] {
  @extend .input-style;
}

select {
  @extend .input-style;
}

input {
  position: relative;
}

label {
  padding: 0;
  padding-top: 2px;
  font-size: $sizeFontLarge;
  font-weight: $fontRegular;
  vertical-align: baseline;
}

// Icons inside the input element -------------------------------------------------

.input-with-icon {
  position: relative;

  &[disabled] + .icon-in-input svg {
    fill: $colorLightGray;
  }
}

.icon-in-input {
  position: absolute;
  bottom: 5px;
  right: 10px;

  &:hover svg {
    fill: $colorDarkestGray;
  }

  svg {
    fill: $colorMidGray;
    transition: fill 0.3s ease;
  }
}

// Titles and descriptions --------------------------------------------------------

.settings-title { // Also used as the section title
  width: 100%;
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 0;
  font-size: $sizeFontLarge;
  color: $colorBlack;
  letter-spacing: 0.03em;
  font-weight: $fontExtraBold;
}

.setting-input-text-title {
  @extend .input-title;
  float: left;
  width: 100%;
  clear: both;
  margin-top: 0;
  margin-bottom: $sizeMargin / 2;
}

.form-group > label {
  @extend .setting-input-text-title;
  font-size: $sizeFontLarge;
  font-weight: $fontLight;
}

.section-description {
  @extend .setting-input-text-title;
  margin-bottom: 15px;
  color: $colorDarkerGray;
}

// Hints --------------------------------------------------------------------------

.hint {
  margin-top: 4px;
  margin-bottom: $sizeMargin;
  font-size: $sizeFontSmall;
  color: $colorBlue;
  font-style: italic;
  width: 100%;
  float: left;
  display: block;
  clear: both;
}

.hint-warning {
  margin-top: 0;
  margin-bottom: $sizeMargin;
  font-size: $sizeFontSmall;
  color: $colorError;
  font-style: italic;
  width: 100%;
  float: left;
  display: block;
  clear: both;
}

// COLOR ///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$colorTabsHeight: 6em;

.color_tabs {
  @extend .padding-margin-reset;
  
  li{
    height: $colorTabsHeight;
    display: block;

      span {
        text-decoration: none;
        font-size: 4em;
        display: none;
        color: #ffffff;
        font-weight: 300;
        padding-left: 1em;
        @media (max-width: 200px) {
          font-size: 2em;
          line-height: 3em;
        }
      }
    
    &.hover > span {
      display: block;
    }    
  }
}

/*

.color-wrapper {
  $sizeColorblock: 600px;
  .color-block {
    width: 100%;
    display: block;
    height: $sizeColorblock;
  }

  [class*=col] {
    padding: 0;
  }

  ul {
    @extend .padding-margin-reset;
    width: 100%;
  }

  li {
    height: $sizeColorblock / 10;
    list-style: none;
  }

  .current-color{
    @include font-size(6);
    color: $colorWhite;  
  }
}

.current-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  span {
    max-width: 50%;
  }
}

*/


// LIGHTBOX2 ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.images img {
  width: 24%;
  margin: 0 1% 1% 0;
  float: left;
}

@media (max-width: 550px) {

  .images img {
    width: 49%;
  }
}

@media (max-width: 319px) {

  .images img {
    width: 100%;
  }
}

// JQUERY UI COMPONENTS ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.ui-widget {
  font-size: $sizeFontLarge;
}

#sort-lyrics {
  @extend .padding-margin-reset;

  list-style: none;

  .ui-state-default {
    margin-bottom: 6px;
    vertical-align: top;
    height: 42px;
    background-color: $colorLightestGray;
    border: 1px solid $colorLightGray;
    color: $colorBlack;
    font-size: $sizeFontLarge;
    line-height: 42px;

    .ui-icon {
      display: inline-block;
      margin: 0 8px;
    }    
  }
}

#puzzle {
  @extend .padding-margin-reset;
  margin: 0 auto;
  list-style-type: none;
  width: 420px;
  height: 315px;

  li {
    margin: 3px 3px 0 0;
    padding: 1px;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(../img/placeholder-image.jpg);
    background-size: 400% 300%;
    cursor: move;
  }
}


@media (max-width: 430px) {
  #sort-lyrics li {
    font-size: 80%;
  }

  #puzzle {
    width: 272px;
    height: 210px;

    li {
      width: 65px;
      height: 65px;
    }
  }
}

@media (max-width: 200px) {
    #puzzle {
      width: 136px;
      height: 105px;
      li {
        width: 31px;
        height: 31px;
      }
    }
  }


.ui-corner-all,
.ui-corner-bottom,
.ui-corner-top {
  border-radius: 0px;
}

// Tabs ---------------------------------------------------------------------------
.ui-tabs .ui-tabs-nav {
  padding: 0 !important;

  li {
    margin: 0 !important;
  }
}

// Accordion ----------------------------------------------------------------------

.ui-accordion-header-active {
  border: 1px solid #aaaaaa;
}

// Datepicker ---------------------------------------------------------------------

#ui-datepicker-div {
  padding: 0 !important;
  z-index: 999;

  .ui-state-default {
    text-align: center;
  }
}

.ui-datepicker-calendar {
  margin: 0 !important;
}

// UISLIDER ---------------------------------------------------------------------

.ui-slider .ui-slider-handle {
  margin: 0;
  border: 1px solid #e6e6e6 !important;
}

.ui-slider-horizontal {
  margin: 10px;
}

#swatch {
  padding: 10px;

  #red .ui-slider-handle {
    background-color: #ef2929 !important;
  }
  #green .ui-slider-handle {
    background-color: #8ae234 !important;
  }

  #blue .ui-slider-handle {
    background-color: #729fcf !important;
  }
}


// LINKS ///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.section-links {

  .btn-gl { 
    @extend .align-center;
    @extend .btn-large;
  }
}

code {
  width: 100%;
  display: block;
  font-family: 'Source Code Pro';
  white-space: normal;
  margin: $sizeMargin 0;
  border: 1px solid $colorLine;
  padding: $sizeMargin;
  position: relative;
  font-size: $sizeFontLarge;
  word-break: break-all;
  @media (max-width: 200px) {
    font-size: $sizeFontTiny;
  }

  &::before {
    content: "code";
    font-family: 'Source Code Pro';
    display: inline-block;
    position: absolute;
    top: -11px;
    background-color: $colorWhite;
    padding: 0 5px;
    color: $colorDarkGray;
  }

  .comment { color: #4c934c; }
  .pseudo { color: #8A0886; font-style: italic; }
  .property { color: #0040FF; }
  .elt { color: #8A0886; }
  .color { color: #ac2925; }
  .string { color: #ac2925; }
}

.output {
  @extend code;

  ul {
    @extend .padding-margin-reset;
  }

  li {
    display: inline-block;
    list-style-type: square;
  }

  li::after {
    content: "|";
    display: inline-block;
    padding: $sizeMargin;
  }  
  
  &::before {
    content: "Output";
  }  
}

// MQTEST //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

#mqTest {
  table {
    margin: 0 auto 4em;
  }

  tr {
    border-bottom: 1px solid $colorLine;
    transition: background-color 1s ease;

    &:first-child {
      border-top: 1px solid $colorLine;
    }

    &:hover {
      background-color: $colorLightestGray;
    }
  }

  td {
    font-size: 19px;
    padding: 10px 5px;

    &:nth-child(2) {
      font-weight: bold;
      text-align: right;
    }
  }
}

@media screen and (max-width: 400px) {
  #mqTest td {
    height: 64px;
    padding: 0 5px;
  }
}

// DEBUG ///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.debug-section {
  overflow: hidden;
}

.box {
  border: 20px solid $colorBlack;
  width: 410px;
  padding: 3px 6px;
  margin: 0 auto;

  h2 {
    @include font-size(11);
    line-height: 90px;
    text-align: left;
    font-weight: $fontExtraBold;
    background-color: $colorWhite;
  }
}
