.container 
  h2 Color
  .lead &nbsp;

  .color-wrapper
    .row
      ul.color_tabs
        li.color_3D3522
          span &#35;3D3522
        li.color_4A442D
          span &#35;4A442D
        li.color_386150
          span &#35;386150
        li.color_58B09C
          span &#35;58B09C
        li.color_CAF7E2
          span &#35;CAF7E2
        li.color_4C934C
          span &#35;4C934C
        li.color_53A548
          span &#35;53A548
        li.color_91CB3E
          span &#35;91CB3E
        li.color_EEE82C
          span &#35;EEE82C
        li.color_19381F
          span &#35;19381F

  br
  br
  .row
    .col-md-12 
      code
        | // jQuery <br>
        | $('.color_tabs > li').hover( <br>
        | &nbsp;&nbsp;function(){ $(this).addClass('hover') }, <br>
        | &nbsp;&nbsp;function(){ $(this).removeClass('hover') } <br>
        |  )

hr
