.container
  h2 Remote Inspection and Debugging
  .lead.align-center Fix the following layout. Click &lt;/&gt;  in Ghostlab App

  .row.debug-section
    .col-md-12
      .box
        h2 Css is awesome!
        
hr