.container
  h2 These are some specs of your device.

  .row
    p.hint.align-center
      span#user-agent User Agent: &nbsp;&nbsp;&nbsp;

  br

  .row
    #mqTest

  .row 
    .col-md-12
      code
        span.comment /* Pure CSS hover synchronisation */
        br
        span tr
        span.pseudo :hover
        span &nbsp;{
        br
        span.property &nbsp;&nbsp;background-color
        span :&nbsp;
        span.color #f7f7f7
        span ;
        br
        span }

      noscript
        .notification.notification-info
          b Your javascript is turned off <br>
          em Please enable JavaScript to test the browser User Agent and media query test  
      

hr
