.container(id="scrollStopsHere")
  h2 Wow! Not bad finger power!


hr

.container
  h2 Great, now let's try filling out some forms!
  .row
    .col-md-12
      p.hint.align-center
        | If you're lazy, type
        span.code $r
        | to make Ghostlab replace it by a random string (or try shortcuts like
        span.code $n
        | ,
        span.code $e
        | ,
        span.code $t
        | ).
        br
        | If you're even lazier, go to a form field and hit
        span.code Ctrl+Shift+F
        | to have Ghostlab fill out the entire form for you.

  form(role="form")
    .row
      .col-md-12
        .form-group
          label What geek qualities do you posess (apart from the force, of course)?
          input(type="text")
        .form-group
          label What is the weakest root password?
          input(type="password")

        .form-group
          label How about your E-mail (we won't spam you!)
          input(type="email")

        .form-group
          label What is the day of the week?
          select
            option Monday
            option Tuesday
            option Wednesday
            option Thursday
            option Friday
            option Saturday
            option Sunday
            option I have no idea
    
    .row
      .col-md-6
        .form-group
            label How do you stay on top of things?
            .checkbox
              label
                  input(type='checkbox')
                  |  Comic con
            .checkbox
              label
                  input(type='checkbox')
                  |  Ted talks
            .checkbox
              label
                  input(type='checkbox')
                  |  I'm Retro, so it's the Newspaper
      .col-md-6
        .form-group
          label What is the best operating system?
          .radio
              label
                  input(type='radio', name="radio")
                  | Windows, because it's got Solitaire
          .radio
              label
                  input(type='radio', name="radio")
                  | Macintosh, because it's Unix
          .radio
              label
                  input(type='radio', name="radio")
                  | Linux, because it's nux

      .col-md-2.col-md-offset-10
        button(type="submit" class="btn-gl btn-large") Send

hr    