.container
  h2 jQuery UI Components

  .row
    .section-subheading
      span &nbsp;
      span Sortable

  .row
      ul#puzzle
        li(style='background-position: -300% 0%')
        li(style='background-position: 0% -100%')
        li(style='background-position: -100% -100%')
        li(style='background-position: 0% 0%')
        li(style='background-position: -300% -200%')
        li(style='background-position: -200% -100%')
        li(style='background-position: -100% -200%')
        li(style='background-position: -300% -100%')
        li(style='background-position: 0% -200%')
        li(style='background-position: -200% 0%')
        li(style='background-position: -200% -200%')
        li(style='background-position: -100% 0%')
  br

  .row
    .section-subheading
      span &nbsp;
      span Accordion 
  
  .row
      #jqui-accordion
        h3 Don't Turn on the Light
        div
          p
            | She commandeered the room in the basement of her dorm as soon as she realized she would have to pull an all-nighter in order to prepare for tomorrow’s final exam. Her roommate, Jenna, liked to get to bed early, so she packed up everything she thought she would need and went downstairs to study... and study... and study some more.
        h3 Goblin of Easton
        div
          p
            | There was once a monk at the mission who loved money and power more than he loved God. He would hear the confession of the good folk who attended the mission, and then would blackmail them into giving him gold and silver to keep their darkest secrets. He turned many a wayward sinner's feet towards the fires of hell rather than the gates of heaven, encouraging their crimes in secret while he reviled them in public.
        h3 The Handshake
        div
          p
            | Polly was the sweetest, prettiest girl in Goldsboro, yes sir.  All the local boys were chasing her, and quite a number of the fellows from the surrounding countryside were too.  All the girls were jealous of Polly ‘cause they didn’t have no sweethearts to take them to the local dances.  They all wanted Polly to choose her man so things could go back to normal.  But Polly was picky.  None of the local boys suited her, and neither did the fellows from the back country.
        h3 White Lady
        div
          p
            | In the early 1800s, the White Lady and her daughter were supposed to have lived on the land where the Durand Eastman Park -- part of Irondequoit and Rochester -- now stands. One day, the daughter disappeared. Convinced that the girl had been raped and murdered by a local farmer, the mother searched the marshy lands day after day, trying to discover where her child's body was buried. She took with her two German shepherd dogs to aid in her search, but she never found a trace of her daughter. Finally, in her grief, the mother threw herself off a cliff into lake Ontario and died. Her dogs pined for their mistress and shortly joined her in the grave.
  br

  .row
    .section-subheading
      span &nbsp;
      span Sliders

  .row
      label What color did it have?
      #swatch
        #red
        #green
        #blue

