.container
  h2 jQuery UI Components

  .row
    .section-subheading
      span &nbsp;
      span Sortable

  .row
      ul#puzzle
        li(style='background-position: -300% 0%')
        li(style='background-position: 0% -100%')
        li(style='background-position: -100% -100%')
        li(style='background-position: 0% 0%')
        li(style='background-position: -300% -200%')
        li(style='background-position: -200% -100%')
        li(style='background-position: -100% -200%')
        li(style='background-position: -300% -100%')
        li(style='background-position: 0% -200%')
        li(style='background-position: -200% 0%')
        li(style='background-position: -200% -200%')
        li(style='background-position: -100% 0%')
  br

  .row
    .section-subheading
      span &nbsp;
      span Accordion 
  
  .row
    .col

      #jqui-tabs
        ul
          li
            a(href='#jqui-tabs-1') Cheese Ipsum
          li
            a(href='#jqui-tabs-2') Bacon Ipsum
          li
            a(href='#jqui-tabs-3') Veggie Ipsum
        #jqui-tabs-1
          p
            | Cheese and biscuits boursin fondue. Brie airedale paneer hard cheese emmental macaroni cheese babybel bavarian bergkase. Melted cheese taleggio port-salut hard cheese blue castello feta halloumi ricotta. Cream cheese fromage frais cheddar st. agur blue cheese.
          p
            | Gouda cheese strings pepper jack. Cheesy feet cut the cheese roquefort danish fontina cut the cheese blue castello fromage frais mozzarella. Airedale st. agur blue cheese cheese triangles stinking bishop taleggio mozzarella pepper jack stinking bishop. Airedale paneer mascarpone fromage hard cheese.
        #jqui-tabs-2
          p
            | Bacon ipsum dolor amet ham hock prosciutto short loin andouille. Fatback cow tri-tip turducken tongue, tenderloin chicken. Turducken corned beef pig, alcatra ham boudin pancetta sausage chuck shankle doner cow meatloaf prosciutto beef. Pork chop pastrami fatback drumstick, swine leberkas filet mignon. Cupim hamburger picanha, fatback turkey tenderloin t-bone chicken swine. Cow andouille filet mignon, beef ribs pastrami t-bone capicola swine tail spare ribs shank ball tip kevin porchetta. Landjaeger chicken turkey kielbasa tenderloin, strip steak beef ribs.
          p
            | Beef ribs prosciutto ball tip pork belly sirloin, corned beef andouille pancetta porchetta shank swine filet mignon alcatra beef shankle. Leberkas venison capicola drumstick beef ribs shankle salami chicken tongue sirloin pork loin meatloaf tenderloin. Jowl boudin biltong short loin. Bacon doner picanha cow ribeye ball tip turducken pancetta pork capicola ham ground round chuck frankfurter.
        #jqui-tabs-3
          p
            | Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.
          p
            | Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
    

  .row
    .section-subheading
      span &nbsp;
      span Slider

  .row
    #swatch
      #red
      #green
      #blue

