.container
  h2 Lightbox2
  .lead.align-center jQuery plugin

  br
  br
  .row.images
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')
      a(href='img/placeholder-image.jpg', data-lightbox='example')
        img(src='img/placeholder-image.jpg')

hr
