.container.section-links

  h2 Links are fundamental to the web, <br> lets click some...


  .row

    .col-md-4
      a(href="#" class="btn-gl btn-large") Anchor link back to top
    .col-md-4
      a(href="internal.html" id="testid" class="btn-gl btn-large") Internal site link

hr