.container.section-links

  h2 Links are fundamental to the web, <br> lets click some...


  .row

    .col-md-4
      a(href="#" class="btn-gl btn-large") Anchor link back to top
    .col-md-4
      a(href="internal.html" id="testid" class="btn-gl btn-large") Internal site link
    .col-md-4
      a(href="https://github.com/vnmc" class="btn-gl btn-large") External link

  .row
  
    .section-subheading
      span Scripted Links
      span Static HTML    

    script.
      function logClick(event)
      {
      if (event.preventDefault)
      event.preventDefault();
      event.cancelBubble = true;
      if (event.stopPropagation)
      event.stopPropagation();
      $('.console').append('<p>' + event.target.id + ' clicked</p>');
      return false;
      }

    .col-md-4
      a(id="link4" onclick="logClick(event)" class="btn-gl btn-large") #Link4
    .col-md-4
      a(id="link5" class="btn-gl btn-large") #Link5
    .col-md-4
      a(id="link6" class="btn-gl btn-large") #Link6

  .row
    
    .section-subheading
      span &nbsp;
      span Dynamically Created Links

    div(id="dynamic-links")

    script.
      document.getElementById('link5').onclick = logClick;
        $('#link6').click(logClick);
        
        setTimeout(function()
      {
        $('#dynamic-links').append(
          '<div class="col-sm-4"><a id="link7" class="btn-gl btn-large" onclick="logClick(event)">#link7*</a></div>' +
          '<div class="col-sm-4"><a id="link8" class="btn-gl btn-large">#link8*</div>' +
          '<div class="col-sm-4"><a id="link9" class="btn-gl btn-large">#link9</a></div>'
        );
        document.getElementById('link8').onclick = logClick;
        $('#link9').click(logClick);
      }, 2000);

  br

  .row
      .col-md-4
        code
          | // #link4, #link7:
          br
          | &lt;a onclick=&quot;logClick(event)&quot;&gt;
      .col-md-4
        code
          | // #link5, #link8:
          br
          | document.getElementById(&apos;link5&apos;) .onclick = logClick;
      .col-md-4
        code
          | // #link6, #link9:
          br
          | jQuery(&apos;#link6&apos;).click(logClick);
 

  .row
    .col-md-12
      .output
        .console
          
  .row
    .col-md-12
      p.hint * Click won't propagate if element was created by setting innerHTML of an ancestor element and the event handler stops propagation.

hr