.container
  nav
    h1.text-hide Ghostlab App - Browser testing
    a(href="/" class="brand")


.container
  p.lead.align-center This is a test page to show you what Ghostlab is capable of. Open this page in another browser window or on a mobile

//- noscript
.container
  br
  noscript
    .notification.notification-info
      b Your javascript is turned off <br>
      em Please enable JavaScript to use the tests