.container
  nav
    h1.text-hide Ghostlab App - Browser testing
    a(href="/" class="brand")


.container
  p.lead.align-center Use this little demonstration page to find out what Ghostlab can do...

//- noscript
.container
  br
  noscript
    .notification.notification-info
      b Your javascript is turned off <br>
      em Please enable JavaScript to use the tests