// Header
- var includeScripts = true
include _head.jade
// Nav
include _nav.jade
// scroll
include _scroll.jade
// Forms
include _forms.jade
// Links
include _links.jade
// Debuging
include _debuging.jade
// Device info
include _device-info.jade
// Color
include _color.jade
// Lightbox
include _lightbox2.jade
// jQuery
include _jQueryUIComponents.jade
// Footer
include _footer.jade
