// Header
- var includeScripts = true
include _head.jade
// Nav
include _nav_iframe.jade
// scroll
include _scroll.jade
// Forms
include _forms.jade
// Links
include _links_reduced.jade
// Color
include _color.jade
// Lightbox
include _lightbox2.jade
// jQuery
include _jQueryUIComponents_reduced.jade


footer
  a.ghostlabapp-twitter.align-center @ghostlabapp
  small.copyright © 2015 Vanamco AG. All rights reserved.
