// Header
- var includeScripts = true
include _head.jade
// Nav
include _nav_iframe.jade
// scroll
include _scroll.jade
// Forms
include _forms_reduced.jade
// Links
include _links_reduced.jade
// Color
include _color_reduced.jade
// Lightbox
include _lightbox2_reduced.jade
// jQuery
include _jQueryUIComponents_reduced.jade

br
br
br
br