.palm-container li {
  margin-bottom: 0.65em;
  list-style: none;
  width: 100%;
}
.palm-container p {
  color: #757575;
}
.palm-container ul li.active {
  display: none;
}
.palm-container ul li.inactive {
  display: block;
}
.palm-container a {
  color: #d14836;
}
.palm-container .mq {
  padding-left: 0.5em;
  font-size: 0.8em;
  color: #757575;
  display: block;
  border: 0;
}
.palm-container .active {
  width: 100%;
}
.palm-container span {
  background: #D6E9C6;
  color: #468847;
  padding: 5px;
  border: 1px solid #D6E9C6;
  text-transform: uppercase;
  display: block;
  border: solid 1px #e6e6e6;
}
.palm-container .inactive span {
  color: #5A5A5A;
  background: #f2f2f2;
}
.palm-container #byline {
  text-align: center;
}
@media screen {
  .palm-container li.active.screen {
    display: block;
  }
  .palm-container li.inactive.what-screen {
    display: none;
  }
}
@media print {
  .palm-container li.active.print {
    display: block;
  }
  .palm-container li.inactive.what-print {
    display: none;
  }
}
@media projection {
  .palm-container li.active.projection {
    display: block;
  }
  .palm-container li.inactive.what-projection {
    display: none;
  }
}
@media handheld {
  .palm-container li.active.handheld {
    display: block;
  }
  .palm-container li.inactive.what-handheld {
    display: none;
  }
}
@media (orientation: portrait) {
  .palm-container li.active.portrait {
    display: block;
  }
  .palm-container li.inactive.what-portrait {
    display: none;
  }
}
@media (orientation: landscape) {
  .palm-container li.active.landscape {
    display: block;
  }
  .palm-container li.inactive.what-landscape {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .palm-container li.active.retina {
    display: block;
  }
  .palm-container li.inactive.what-retina {
    display: none;
  }
}
@media tv {
  .palm-container li.active.tv {
    display: block;
  }
  .palm-container li.inactive.what-tv {
    display: none;
  }
}
@media (color) {
  .palm-container li.active.color {
    display: block;
  }
  .palm-container li.inactive.what-color {
    display: none;
  }
}
@media (min-color-index: 1) {
  .palm-container li.active.color-index {
    display: block;
  }
  .palm-container li.inactive.what-color-index {
    display: none;
  }
}
@media (monochrome) {
  .palm-container li.active.monochrome {
    display: block;
  }
  .palm-container li.inactive.what-monochrome {
    display: none;
  }
}
@media (min-device-width: 1px) {
  .palm-container li.active.min-device-width {
    display: block;
  }
  .palm-container li.inactive.what-min-device-width {
    display: none;
  }
}
@media (max-device-width: 100000em) {
  .palm-container li.active.max-device-width {
    display: block;
  }
  .palm-container li.inactive.what-max-device-width {
    display: none;
  }
}
@media (min-device-height: 1px) {
  .palm-container li.active.min-device-height {
    display: block;
  }
  .palm-container li.inactive.what-min-device-height {
    display: none;
  }
}
@media (max-device-height: 100000em) {
  .palm-container li.active.max-device-height {
    display: block;
  }
  .palm-container li.inactive.what-max-device-height {
    display: none;
  }
}
@media (min-width: 1px) {
  .palm-container li.active.min-width {
    display: block;
  }
  .palm-container li.inactive.what-min-width {
    display: none;
  }
}
@media (max-width: 1000em) {
  .palm-container li.active.max-width {
    display: block;
  }
  .palm-container li.inactive.what-max-width {
    display: none;
  }
}
@media (min-height: 1px) {
  .palm-container li.active.min-height {
    display: block;
  }
  .palm-container li.inactive.what-min-height {
    display: none;
  }
}
@media (max-height: 1000em) {
  .palm-container li.active.max-height {
    display: block;
  }
  .palm-container li.inactive.what-max-height {
    display: none;
  }
}
@media (min-resolution: 1dpcm) {
  .palm-container li.active.min-resolution {
    display: block;
  }
  .palm-container li.inactive.what-min-resolution {
    display: none;
  }
}
@media (max-resolution: 10000dpcm) {
  .palm-container li.active.max-resolution {
    display: block;
  }
  .palm-container li.inactive.what-max-resolution {
    display: none;
  }
}
@media (scan: progressive) {
  .palm-container li.active.scan-progressive {
    display: block;
  }
  .palm-container li.inactive.what-scan-progressive {
    display: none;
  }
}
@media (scan: interlace) {
  .palm-container li.active.scan-interlace {
    display: block;
  }
  .palm-container li.inactive.what-scan-interlace {
    display: none;
  }
}
@media (grid) {
  .palm-container li.active.grid {
    display: block;
  }
  .palm-container li.inactive.what-grid {
    display: none;
  }
}
@media (luminosity: normal) {
  .palm-container li.active.luminosity-normal {
    display: block;
  }
  .palm-container li.inactive.what-luminosity-normal {
    display: none;
  }
}
@media (luminosity: dim) {
  .palm-container li.active.luminosity-dim {
    display: block;
  }
  .palm-container li.inactive.what-luminosity-dim {
    display: none;
  }
}
@media (luminosity: washed) {
  .palm-container li.active.luminosity-washed {
    display: block;
  }
  .palm-container li.inactive.what-luminosity-washed {
    display: none;
  }
}
@media (pointer: coarse) {
  .palm-container li.active.coarse {
    display: block;
  }
  .palm-container li.inactive.what-coarse {
    display: none;
  }
}
@media (pointer: fine) {
  .palm-container li.active.fine {
    display: block;
  }
  .palm-container li.inactive.what-fine {
    display: none;
  }
}
@media (pointer: none) {
  .palm-container li.active.pointer-none {
    display: block;
  }
  .palm-container li.inactive.what-pointer-none {
    display: none;
  }
}
@media (script) {
  .palm-container li.active.script {
    display: block;
  }
  .palm-container li.inactive.what-script {
    display: none;
  }
}
@media (hover) {
  .palm-container li.active.hover {
    display: block;
  }
  .palm-container li.inactive.what-hover {
    display: none;
  }
}
/*

/PALM

------------------------------------ */
/* Grid 
––––––––––––––––––––––––––––––––––––––––––––––––*/
#demo1 ul li {
  width: 32.33%;
}
#demo2 ul li {
  width: 24%;
}
#demo3 ul li {
  width: 32.33%;
}
#demo4 ul li {
  width: 24%;
}
#demo5 ul li {
  width: 19%;
}
/* Wapper */
.gPopDemoWapper {
  margin: 0 auto;
  overflow: hidden;
}
/* Plugin Css
––––––––––––––––––––––––––––––––––––––––––––––––*/
.gPop-gallery {
  display: block;
  margin-left: 1%;
}
.gPop-gallery ul {
  width: 100%;
  list-style-type: none;
  display: inline-block;
}
.gPop-gallery ul li {
  float: left;
  margin-right: 1%;
  margin-bottom: 1em;
  overflow: hidden;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gPop-gallery ul li img {
  width: 100%;
}
.gPop-gallery ul li div {
  display: none;
}
.gpop-clonedImage {
  box-shadow: 1px 1px 10px 5px rgba(115, 115, 115, 0.06);
  -webkit-box-shadow: 1px 1px 10px 5px rgba(115, 115, 115, 0.06);
  -moz-box-shadow: 1px 1px 10px 5px rgba(115, 115, 115, 0.06);
}
.gpop-clonedImage {
  float: left;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.3%;
  cursor: pointer;
}
.gpop-clonedImageInvisible {
  display: none;
}
.gpop-clonedImageVisible {
  display: block;
}
/* Media Queries Css
––––––––––––––––––––––––––––––––––––––––––––––––*/
/* phone */
@media (max-width: 480px) {
  .gPopDemoWapper {
    margin: 0 20px;
    max-width: 480px;
    float: none;
  }
  #demo1 ul li {
    width: 100%;
  }
  #demo2 ul li {
    width: 100%;
  }
  #demo3 ul li {
    width: 100%;
  }
  #demo4 ul li {
    width: 100%;
  }
  #demo5 ul li {
    width: 100%;
  }
  #demo6 ul li {
    width: 100%;
  }
}
/* mixins */
.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.background-size {
  webkit-background-size: contain;
  moz-background-size: contain;
  o-background-size: contain;
  background-size: contain;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Colors */
.fancy-font {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-height: 100%;
  height: 100%;
  background-color: #fff;
}
.container-fluid {
  max-width: 80%;
  margin: 0 auto;
}
p {
  text-align: center;
}
a {
  color: #77c1b0;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
.alert {
  padding: 2px;
  text-align: center;
  font-size: 16px;
}
.anchor {
  display: block;
  height: 57px;
}
.border {
  border: solid 1px #e6e6e6;
}
.gl-grid .row-fluid {
  margin-bottom: .9em;
}
.gl-grid [class*="span"] {
  background: #f2f2f2;
  padding: .9em;
  border: solid 1px #e6e6e6;
}
.color-chart {
  width: 100%;
  height: 40em;
}
.page-heading {
  text-align: center;
}
.gPop-gallery ul {
  margin-left: 0;
}
.gPop-gallery p {
  text-align: justify;
}
.form-Row {
  max-width: 50.000em;
  margin: 0 auto;
}
input,
textarea {
  width: 95%;
}
.hr-shadow {
  display: block;
  width: 100%;
  height: 1px;
  webkit-background-size: contain;
  moz-background-size: contain;
  o-background-size: contain;
  background-size: contain;
  background-color: #e6e6e6;
}
.hr-shadow-bottom {
  display: block;
  width: 100%;
  height: 1px;
  webkit-background-size: contain;
  moz-background-size: contain;
  o-background-size: contain;
  background-size: contain;
  background-color: #e6e6e6;
}
.hr-shadow-top {
  display: block;
  width: 100%;
  height: 1px;
  webkit-background-size: contain;
  moz-background-size: contain;
  o-background-size: contain;
  background-size: contain;
  background-color: #e6e6e6;
}
.main-header-base {
  background-color: #f2f2f2;
  border-bottom: solid 1px #e6e6e6;
}
.main-header-base h2 {
  margin-top: 0;
}
.main-header {
  background-color: #f2f2f2;
  border-bottom: solid 1px #e6e6e6;
  position: fixed;
  width: 100%;
  z-index: 1980;
}
.main-header h2 {
  margin-top: .2em;
  margin-left: 2em;
  display: block;
}
#mqTest {
  display: block;
}
#mqTest ul {
  list-style: none;
  margin-left: 0px;
}
#mqTest ul li {
  color: #5A5A5A;
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin-bottom: .4em;
  padding: .2em;
}
#mqTest ul li b {
  float: right;
  font-size: 12px;
}
.tab-pane p {
  text-align: justify;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #f2f2f2;
}
.tab-content > .active {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.accordion-heading {
  background-color: #ffffff;
}
.accordion-inner {
  background-color: #f2f2f2;
}
.tabbable .nav {
  margin-bottom: 0px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 27px;
}
textarea {
  resize: none;
}
/* Sticky footer styles
      -------------------------------------------------- */
.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
  min-height: 60px;
}
#footer {
  background-color: #f2f2f2;
  font-size: 12px;
  display: block;
}
#footer p {
  padding-top: 20px;
}
@media (max-width: 979px) {
  [class*="span"] {
    margin-bottom: 1em;
    display: block;
  }
  .container-fluid {
    max-width: 100%;
  }
  .palm-container ul {
    margin: 0;
  }
  .hr-shadow-top,
  .hr-shadow-bottom {
    webkit-background-size: contain;
    moz-background-size: contain;
    o-background-size: contain;
    background-size: contain;
  }
  .main-header {
    position: fixed;
    padding: 5px;
    width: 100%;
    left: 0;
    height: 40px;
    z-index: 1001;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .main-header h2 {
    margin-left: 2em;
    text-align: center;
    font-size: 130%;
    margin-top: -0.2em;
  }
  .main-header h2 small {
    font-size: 70%;
  }
  .page-wrap {
    float: right;
    width: 100%;
  }
  .main-nav-check {
    display: none;
  }
  #footer {
    background-color: transparent;
  }
}
