// Styles /////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////


// Import Stylesheets /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

@import "palm_reader.less";
@import "jquery.gpop.less";

// Colors /////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

@white:         #ffffff;
@black:         #000000;
@lightGray:     #f2f2f2;
@darkGray:      #e6e6e6;
@darkerGray:    #3B3B3B;
@darkestGray:   #333333;

@lightGreen:    #D6E9C6;
@darkGreen:     #468847;

@linkColor:     #77c1b0;

// Fonts //////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

// Watch this space!

// Styles /////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
}

html,
body {
  font-family: 'source_code_proregular', Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-height: 100%;
  height: 100%;
  height: 100vh;
  background-color: @white;
  //background-color: @black;
  //color: @white;
  //background-image: url('http://s15.postimg.org/5rwblull3/transp_bg_1.png');
  //background-image: url('http://s21.postimg.org/cg3azyi6r/tiny_grid_2_X.png');
  background-size: 20px;
  background-repeat: repeat;
}

.container-fluid {
  max-width: 80%;
  margin: 0 auto;
}

p {
  text-align: center;
}

a {
  color: @linkColor;
}

code {
  display: block;
  white-space: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

a:hover {
  color: @darkestGray;
  text-decoration: none;
}

#footer a:hover {
  color: @lightGray;
}

.alert {
  padding: 2px;
  text-align: center;
  font-size: 16px;
  border: none;
  color: @darkGreen;
  background-color: @lightGreen;
}

.anchor {
  display: block;
  height: 57px;
}

.border {
  border:solid 1px @darkGray;
}

small, .small {
  font-size: 65%;
}


// Navigation /////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.navbar-toggle {
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  font-size: 11px;
}

// Grid ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.gl-grid {

	.row {
    margin-bottom: .9em;
  }

  [class*="col-"] {
    .border;
    background: @lightGray;
    padding: 0.9em;
  }
}

.color-chart {
  width: 100%;
  height: 50em;
  margin: 0 auto;
}

.color-details {
  .border;
  padding: 0.5em;
  border-radius: 4px;
  margin-top: 1em;

  p {
    margin: 0;
    font-weight: bold;
  }
}

.page-heading {
  text-align: center;
}

.gPop-gallery {
  
  ul {
    margin-left: 0;
  }

  p {
    text-align: justify;
  }
}

input, textarea {
  width: 95%;
}

#selectBox {
  width: 100%;
}


.hr-shadow {
	display: block;
	width: 100%;
	height: 1px;
  background-color: @darkGray;
  webkit-background-size: contain;
  moz-background-size: contain;
  o-background-size: contain;
  background-size: contain;  
}

.hr-shadow-bottom {
	.hr-shadow;
}

.hr-shadow-top {
	.hr-shadow;
}

// Main Header ////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////


.main-header-base {
  background-color: @lightGray;
  border-bottom: solid 1px @darkGray;

  h2 {
    margin-top: 0;
  }
}

.main-header{
  background-color: @lightGray;
  border-bottom: solid 1px @darkGray;
  position: fixed;
  width: 100%;
  z-index: 1980;

  h2 {
    margin-top: .2em;
    margin-left: 2em;
    display: block;
  }
}

// MQ test ////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

#mqTest {
  display: block;

  ul {
    list-style: none;
    margin-left: 0px;

    li {
      color: @darkestGray;
      background: @lightGray;
      border: solid 1px @darkGray;
      margin-bottom: .4em;
      padding: .2em;
    }

    b {
      float: right;
      font-size: 12px;
    }    
  }
}

.tab-pane p {
  text-align: justify;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: @lightGray;
}

.tab-content > .active {
  background-color: @white;
  padding: 10px;
  border-bottom: 1px solid @darkGray;
  border-left: 1px solid @darkGray;
  border-right: 1px solid @darkGray;
}

.accordion-heading {
  background-color: @white;
}

.accordion-inner {
  background-color: @lightGray;
}

.tabbable {
  .nav {
    margin-bottom: 0px;
  }
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  height:27px;
}

textarea {
  resize: none;
}

.console {
  .border;
  margin-top: 1em;
  color: @lightGray;
  background-color: @darkestGray;
  border-radius: 4px;
  padding: 0.5em;

  p {
    margin: 0;
  }
}

// images /////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.images img {
  width: 24%;
  margin: 0 1% 1% 0;
  float: left;
}

// jQueryUI examples //////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.ui-widget {
  font-family: inherit !important;
  font-size: inherit !important;
}

#sort-lyrics {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 3px 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    cursor: ns-resize;

    span {
      position: absolute;
      margin-left: -1.3em;
    }
  }
}

#puzzle {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 420px;
  height: 315px;

  li {
    margin: 3px 3px 0 0;
    padding: 1px;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(../img/placeholder-image.jpg);
    background-size: 400% 300%;
    cursor: move;
  }
}

#jqui-tabs, #jqui-accordion p {
  text-align: left;
}

#jqui-datepicker {
  width: 100%;
}

#swatch {
  padding: 0.5em;
  border-radius: 4px;

  #red,
  #green,
  #blue {
    margin: 2em;
  }

  #red .ui-slider-range {
    background: #ef2929;
  }
  #red .ui-slider-handle {
    border-color: #ef2929;
  }
  #green .ui-slider-range {
    background: #8ae234;
  }
  #green .ui-slider-handle {
    border-color: #8ae234;
  }
  #blue .ui-slider-range {
    background: #729fcf;
  }
  #blue .ui-slider-handle {
    border-color: #729fcf;
  }
}

// Sticky footer styles ///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push, #footer {
  min-height: 60px;
}

#footer {
  color: @white;
  background-color: @darkestGray;
  font-size: 12px;
  display: block;

  p {
    padding-top: 20px;
  }
}

// jQuery ui //////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.ui-widget-header {
  background: @lightGray;
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: @darkGray;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  .border;
  background: @white;
  border-bottom: none;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br {
  border-radius: 0;
}

.ui-widget-content,
.ui-state-default {
  .border;
}

.btn {
  margin-bottom: 1em;
}

// Media //////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

@media (max-width: 979px) { 

  [class*="span"] {
    margin-bottom: 1em;
    display: block;
  }
  
  .container-fluid {
    max-width: 100%;
  }
  
  .palm-container ul {
    margin: 0;
  }

  .hr-shadow-top, .hr-shadow-bottom {
    webkit-background-size: contain;
    moz-background-size: contain;
    o-background-size: contain;
    background-size: contain;
  }

  .page-wrap {
    float: right;
    width: 100%;
  }

  .main-nav-check {
    display: none;
  }

  #footer {
    background-color: @darkestGray;
    color: @white;
  }
}

@media (max-width: 740px) {
  
  .color-chart {
    width: 37.5em;
    height: 22.5em;
  }
}

@media (max-width: 550px) {

  .color-chart {
    width: 25em;
    height: 15em;
  }

  .images img {
    width: 49%;
    margin: 0 1% 1% 0;
    float: left;
  }
}

@media (max-width: 380px) {
  
  .color-chart {
    width: 20em;
    height: 12em;
  }
}

@media (max-width: 430px) {
  
  #sort-lyrics li {
    font-size: 80%;
  }

  #puzzle {
    width: 272px;
    height: 210px;

    li {
      width: 65px;
      height: 65px;
    }
  }
}

// The End ////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
