section.s-puzzle
    header
        h1 Drag &amp; Drop
        p Solve the puzzle by dragging the tiles.
        button#btnScramble Start over
    .app-wrapper
        ul#puzzle
        .won You did it!
