<html>
<head>

<link rel="stylesheet" type="text/css" href="msf.css">

<script src="jquery-3.2.0.min.js"></script>
</head>
<body>
<h1>Forms & Ghostlab</h1>
<!-- multistep form -->
<form id="msform">
	<!-- progressbar -->
	
	<ul id="progressbar">
		<li class="active">Basic Forms</li>
		<li>Automatic Form Fills</li>
		<li>Quickfills</li>
		<li>Quickfill Data</li>
		<li>Distributed Form Fills</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Basic Form Filling with Ghostlab</h2>
		<h3 class="fs-subtitle">Whenever you fill out a form on any one client, it will be filled out in sync on the others.</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Automatic Form Fills</h2>
		<h3 class="fs-subtitle">Use the Automatic Form Fill shortcut (Ctrl-Shift-F by default) to fill out this entire form below!</h3>
		<input type="text" name="twitter" placeholder="Twitter" />
		<input type="text" name="facebook" placeholder="Facebook" />
		<input type="text" name="gplus" placeholder="Google Plus" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Quickfills</h2>
		<h3 class="fs-subtitle">Use quickfills to quickly populate a field - like $e for an E-Mail.</h3>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="text" name="lname" placeholder="Last Name" />
		<input type="text" name="phone" placeholder="Phone" />
		<textarea name="address" placeholder="Address"></textarea>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Quickfill Data</h2>
		<h3 class="fs-subtitle">Define datasets for quickfills to enter different values on every client. E.g. $0</h3>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Distributed Form Fills</h2>
		<h3 class="fs-subtitle">Triple-Click on any form field to open the distributed form fill tool. It will show you inputs for the field in every browser.</h3>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="submit" name="previous" class="previous action-button" value="Ok, all done." />
	</fieldset>
</form>

<!-- jQuery -->

<!-- jQuery easing plugin -->
<script src="jquery.easing.min.js" type="text/javascript"></script>
<script src="msf.js"></script>


</body>
</html>