section.s-deviceinfo
    header
        h1 Device Info
        p Here are some specs of your device
            br
            small
                | (
                script.
                    document.write(navigator.userAgent + ')');
    .app-wrapper
