.s-colors {
	display: flex;
	flex-direction: column;

	header {
		background-color: darkslategray;
	}

	.app-wrapper {
		flex: 1;
	}

	.color-tile {
		position: relative;
		width: (100% / 15);
		height: (100% / 10);
		float: left;
		color: transparent;
		transform: scale(1);
		text-shadow: 0 0 2px rgba(0, 0, 0, 0);
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
		transition: color 0.4s ease, transform 0.2s ease, text-shadow 0.4s ease;
		z-index: 0;
		cursor: default;

		// make the color tiles square (aspect ratio 1:1)
		@media (max-width: 999px) {
			&::before {
				content: '';
				display: block;
				width: 100%;
				padding-top: 100%;
			}
		}

		&:hover {
			color: #fff;
			transform: scale(1.5);
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
			z-index: 2;
		}

		> div {
			position: absolute;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
			padding: 10px;
			font-size: 8px;
			text-align: center;
		}
	}
}
