section.s-links
	header
		h1 Navigating the Web
		p A hyperlink is a reference to data that the reader can directly follow either by clicking, tapping, or hovering.
	ul
		li
			a(href='page2.html') Go to another Page
		li
			a(href='https://www.vanamco.com') Go somewhere completely different
