doctype html
html
    head
        title Ghostlab Testing Page
        script(src='main.js')
        link(rel='stylesheet', href='index.min.css')
    body
        header
            h2.visually-hidden Ghostlab Testing Page
        .apps
            include tiles/deviceinfo/deviceinfo
            include tiles/form/form
            include tiles/pipes/pipes
            include tiles/links/links
            include tiles/puzzle/puzzle
            include tiles/colors/colors
            include tiles/slideshow/slideshow
