doctype html
html
	head
		title Ghostlab Testing Page
		link(rel='stylesheet', href='index.min.css')
	body.ghost
		header
			h2.visually-hidden Ghostlab Testing Page
		main
			h1 You've crossed over to the Twilight
			a(href='index.html') Get me out of here!
