.s-slideshow {
	display: flex;
	flex-direction: column;

	header {
		background-color: deeppink;
	}

	.app-wrapper {
		position: relative;
		min-height: 315px;
		flex: 1;

		// fixed aspect ratio
        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: ((1067 / 1600) * 100%);
        }	
	}

	.swiper-container {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.swiper-slide {
		background-size: cover;
	}

	.swiper-pagination {
		bottom: 0;
		width: 100%;

		span {
			margin: 0 1px;
		}
	}
}
