section.s-slideshow
    header
        h1 Mouse &amp; Touch
        p Swipe or use the controls to navigate between images.
    .app-wrapper
        .swiper-container
            .swiper-wrapper
                - for (var i = 1; i <= 4; i++)
                    .swiper-slide(style='background-image: url(photo' + '0000'.substr(4 - String(i).length) + i + '.jpg)')
        .swiper-pagination.swiper-pagination-white
        
        .swiper-button-prev
        .swiper-button-next
