section.s-slideshow
    header
        h1 Mouse &amp; Touch
        p Swipe or use the controls to navigate between images.
    .app-wrapper
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                .swiper-slide
                .swiper-slide
        .swiper-pagination.swiper-pagination-white
        
        .swiper-button-prev
        .swiper-button-next
